ul {
    margin-top: 5vh;
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none; 
    color: black; 
}

a.selected {
    color: blue;
}
li.selected {
    color: blue;
}